.preloader__wrap{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding-top: 10%;
    background-color: rgba(255,255,255,0.6);
    text-align: center;
    z-index: 2;
}

.preload__circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90px;
    height: 90px;
    margin-left: -45px;
    margin-top: -45px;
    background-color: #f78fb3;
    opacity: 0.6;
    border-radius: 50%;
    -webkit-animation: sk-double-bounce 2.0s infinite ease-in-out;
    animation: sk-double-bounce 2.0s infinite ease-in-out;
}
.preload__circle2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-double-bounce {
    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-double-bounce {
    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}