
.header{
  grid-area: h;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #546de5;
  box-shadow: 0 2px 8px #f0f1f2;
  padding: 10px;
  color: #fff;
}
.header img{
  max-height:100%;
  height: -webkit-fill-available;
}
.header h1 {
  float: right;
  margin: 0 0 0 10px;
  color: #fff;
}
.header .small{
  font-weight: 300;
}
.link{
  color: #fff;
  cursor: pointer;
}
.link:hover{
  text-decoration: underline;
}