.info{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 20px;
	color: #fff;
	justify-content: space-between;
}
.infoLeft{
	display: flex;
	justify-content: space-between;
}
.ava{
    position: relative;
	height: fit-content;
}
.ava>img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	object-fit: cover;
}

.loading:after{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #fff;
	border-left: none;
	animation: spin 1.5s ease-in-out infinite;
	transform: translate(-50%, -50%);
}

@keyframes spin {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	} to {
		  transform: translate(-50%, -50%) rotate(360deg);
	  }
}
.loading > *{
	opacity: .5;
}
.loading {
	position: relative;
	pointer-events: none;
}
.inputFile{
    position: absolute;
    bottom: 8px;
    left: 35px;
}
.name{
    margin: 10px 10px 0px 20px;
	font-size: 30px;
	font-weight: bold;
	color: #6f5d5d;
}
.details{
	position: relative;
	width: 35%;
	font-size: 14px;
}

.status{
    margin: 0 0 0 20px;
    font-size: 18px;
    color: #767272;
}
.inputFile {
	display: block;
	cursor: pointer;
	opacity: .5;
}
.inputFile:hover{
	opacity: 1;
}
.inputFile input{
	display: none;
}
.inputFile img{
	display: block;
	margin: 0 auto;
	width: 30px;
	height: 30px;
	object-fit: contain;
}
.contactsItem {
	margin: 3px 0px;
	padding: 0 0 0 10px;
}
.detailsEditButton{
	position: absolute;
	right: 0;
	bottom: -1px;
	outline: none;
	border: none;
	background-color: #ffa500;
	font-size: 14px;
	color: inherit;
	cursor: pointer;
}
.fieldWrap{
	display: flex;
	margin: 0px 0px 10px 0px;
	flex-wrap: wrap;
	justify-content: space-between;
}
.fieldWrap > *{
	width: 50%;
}